body {
  margin: 0;
  padding: 0;
}

.Header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: #00CCCC;
  padding-left: 20px;
}

.headerTitle {
  padding: 0;
  margin-top: 1em;
}

.headerTitle a {
  text-decoration: none;
  font-family: sans-serif;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

.headerTitle a:hover {
  color: dimgray;
}

#postContainer {
  width: 100%;
  height: auto;
  margin: 100px 0;
  background-color: white;
  padding: 10px 10%;
}

#Post {
  padding: 0;
  width: 80%;
  margin: 0;
  margin-bottom: 10px;
  border-bottom-style:solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  font-family: sans-serif;
  color: dimgray;
}

#Post a {
  color: dimgray;
  text-decoration: none;
}

.postPageDiv {
  font-family: sans-serif;
  color: dimgray;
  width: 60%;
  margin: 80px 0;
  padding: 20px 20%;
  text-align: left;
}
